a.card {
  text-decoration: none;
  color: #404040;
}

.rula-team-container {
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.rula-team-container .card {
  display: inline-block;
  float: left;
  width: 16.875em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 1.5em;
}

.rula-team-container .card + .card {
  margin-top: 0;
}

/* Styles for team member view template (rula-partials/team-single)*/
.single-rula-team .hero {
  display: inline-block;
  position: relative;
  max-width: 48em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  vertical-align: top
}

.single-rula-team .hero h1 {
  background: #323132;
  color: #F1F1F2;
  position: absolute;
  margin: 0;
  padding: 0.5em;
  line-height: 1;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
}

.single-rula-team .entry-content {
  vertical-align: top;
  padding: 1em 0 0 0;
}

.single-rula-team .entry-content p + p {
  margin-top: 0.5em;
}

@media screen and (min-width: 48em) { 
  .single-rula-team .hero {
    width: 50%;
    display: inline-block;
  }

  .single-rula-team h1 {
    font-size: 2em;
  }

  .single-rula-team .entry-content {
    display: inline-block;
    width: 49%;
    padding: 0 0em 1em 1em;
  }
}