a.card {
  text-decoration: none;
  color: #404040;
}

.rula-team-container {
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.rula-team-container .card {
  display: inline-block;
  float: left;
  width: 16.875em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 1.5em;
}

.rula-team-container .card + .card {
  margin-top: 0;
}
